  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
#nprogress .bar {
  background: #e0021b !important;
  box-shadow: 0 0 10px #e0021b, 0 0 5px #e0021b;

}
button:focus{
 outline: none !important;

}
#nprogress .peg {
  box-shadow: 0 0 10px #e0021b, 0 0 5px #e0021b;
}

#nprogress .spinner-icon {
  border-top-color: #e0021b;
  border-left-color: #e0021b;
}
html,

body {
    margin: 0px;
    padding: 0px;
      font-family: "Roboto", sans-serif;
      /* overflow-y:hidden; */

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.progress-bar-striped {
				overflow: hidden;
       width:60%;
				height: 20px;
				margin-bottom: 20px;
				background-color: #f5f5f5;
				border-radius: 5px;
				-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
				-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
				box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
			}
			.progress-bar-striped > div {
				background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
				background-size: 40px 40px;
				float: left;
				width: 0%;
				height: 100%;
				font-size: 12px;
				line-height: 20px;
				color: #ffffff;
				text-align: center;
				-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
				-moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
				box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
				-webkit-transition: width 3s ease;
				-moz-transition: width 3s ease;
				-o-transition: width 3s ease;
				transition: width 3s ease;
				animation: progress-bar-stripes 2s linear infinite;
				background-color: #cf2121;
			}
			.progress-bar-striped p{
				margin: 0;
			}
			
			@keyframes progress-bar-stripes {

				0% {
					background-position: 40px 0;
				}
				100% {
					background-position: 0 0;
				}
			}


      .table-progress-bar-striped {
				overflow: hidden;
        display:flex;
       width:100%;
       max-width:100%;
				height: 20px;
				background-color: #f5f5f5;
				border-radius: 5px;
				-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
				-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
				box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
			}
			.table-progress-bar-striped  > div {
				background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
				background-size: 40px 40px;
				float: left;
				width: 0%;
				height: 100%;
				font-size: 12px;
				line-height: 20px;
				color: #ffffff;
				text-align: center;
				-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
				-moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
				box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
				-webkit-transition: width 3s ease;
				-moz-transition: width 3s ease;
				-o-transition: width 3s ease;
				transition: width 3s ease;
				animation: progress-bar-stripes 2s linear infinite;
				background-color: #cf2121;
		
			}
			.table-progress-bar-striped p{
				margin: 0;
			}
			
			@keyframes table-progress-bar-stripes {

				0% {
					background-position: 40px 0;
				}
				100% {
					background-position: 0 0;
				}
			}

			li{
				list-style: none;
			}
			.box {
  border-radius: 2rem;
}

.border-t-10 {
  border-top-width: 10px;
}

.example::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.MuiFormControlLabel-root{
	margin-left:0px;
}
.selecter{
	 /* text-align-last:center;

    padding-left: 29px;
    /* direction:rtl; */
	/* display: flex;
align-items: center;
justify-content: center;  */
text-align-last:center;
}
