@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

.clients_tab_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  // background-color: green;
  padding: 20px;
  overflow-y: auto;
  .clients_tab_header {
    display: flex;
    width: 100%;
    max-width: 1400px;
    // max-width: 100%;
    // background-color: red;
    padding: 5px 0px;
    border-bottom: 1px solid rgb(233, 233, 233);
    button {
      background-color: #ee2b45;
      border: 1px solid #ee2b45;
    }
    button:hover {
      background-color: #dd122a;
      border: 1px solid #dd122a;
    }
    div:nth-child(1) {
      display: flex;
      flex: 1;
      span {
        font-family: "Roboto", sans-serif;
        color: #414141;
        font-size: 28px;
      }
    }
    div:nth-child(2) {
      display: flex;
      flex: 1;
      justify-content: flex-end;
    }
  }
  .clients_tab_content_container {
    display: flex;
    width: 100%;
    max-width: 1400px;
    // background-color: green;
  }
}
