@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

.dashboard_main {
  // background-color: #0a0a0a;
  width: 100%;
  display: flex;
  // min-height: 100%;
  // height: fit-content;
  // overflow-y: scroll;
  height: 100vh;
  // height: 100%;
  overflow-y: hidden;
  /*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT license
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

  .sidebar_container {
    display: flex;
    // width: 15%;
    flex: 0.4;
  }
  .dashboard_main_right_container {
    display: flex;
    flex-direction: column;
    // width: 85%;
    // background-color: rgb(68, 0, 255);
    align-items: stretch;
    // background-color: #fafafa;
    flex: 1;
    // height: fit-content;
    // height: 100%;
    height: 100%;
    // height: 100vh;
    // display: block;
    align-items: stretch;
    .topbar_container {
      display: flex;
      flex: 0.1;
      background-color: green;
      // justify-content: flex-end;

      //   padding: 20px 0px;
      // height: 100%;
    }
    .bottom_container {
      display: flex;
      // flex-direction: column;
      // height: fit-content;
      // height: 100vh;
      overflow-y: hidden;
      flex: 3;
      // background-color: #eef2f6;
      // background-color: white;

      // background-color: yellow;
    }
  }
}
