@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

.list {
  // background-color: grey;
  margin-bottom: 5px;
  // display: none;
  box-shadow: 0 10px 10px rgba(24, 24, 24, 0.164);
  border: 1px solid rgb(170, 170, 170);
  .list_item {
    color: black;
    border-bottom: 1px solid rgb(212, 212, 212);
    padding: 5px 8px;
    cursor: pointer;
    font-weight: 500;
  }
  .list_item:hover {
    box-shadow: 4px 4px 3px rgba(24, 24, 24, 0.062);
  }
}
.exercise_list {
  display: flex;
  flex-wrap: wrap;
  // background-color: red;

  .exercise {
    display: flex;
    align-items: center;
    padding: 3px 6px;
    border-radius: 5px;
    border: 1px solid grey;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 13px;
    width: auto;
    color: white;
    border: 1px solid #ee2b45;
    background-color: #ee2b45;

    box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.164);

    span:nth-child(2) {
      position: relative;
      top: 1.5px;
      left: 3px;
      padding: 0px 1px;
      cursor: pointer;
    }
  }
}
.programs_tab_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  // background-color: rgb(0, 119, 128);
  padding: 20px;

  .programs_tab_header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1400px;
    // max-width: 100%;
    // background-color: red;
    padding: 5px 0px;
    border-bottom: 1px solid rgb(233, 233, 233);
    button {
      background-color: #ee2b45;
      border: 1px solid #ee2b45;
    }
    button:hover {
      background-color: #dd122a;
      border: 1px solid #dd122a;
    }
    h1 {
      font-family: "Roboto", sans-serif;
      color: #414141;
      font-size: 28px;
    }
  }
  .programs_tab_buttons {
    display: flex;
    max-width: 1400px;
    width: 100%;
    justify-content: space-between;
    padding: 20px 0px;
    button:nth-child(1) {
      display: inline-block;
      font-weight: 400;
      width: 25%;
      //   width: 378px;
      max-width: 100%;
      text-align: center;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: transparent;
      border: 1px solid transparent;
      padding: 0.675rem 0.75rem;
      font-size: 0.95rem;
      line-height: 1.5;
      border-radius: 0.25rem;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      background-color: #ee2b45;
      border: 1px solid #ee2b45;
      color: #fff;
      //   padding: 0.575rem 0.75rem;
    }
    button:nth-child(2) {
      display: inline-block;
      font-weight: 400;
      //   width: 378px;
      width: 25%;
      max-width: 100%;
      text-align: center;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: transparent;
      border: 1px solid transparent;
      padding: 0.675rem 0.75rem;
      font-size: 0.95rem;
      line-height: 1.5;
      border-radius: 0.25rem;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      background-color: rgb(201, 201, 201);
      border: 1px solid rgb(201, 201, 201);
      color: grey;
    }
  }
  .programs_tab_input {
    display: flex;
    max-width: 1400px;
    width: 100%;
    padding: 0px 10px;
    margin-top: 5px;

    input {
      //   border: 1px solid grey;
      //   outline: 1px solid grey;
      box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
      border: 1px solid rgb(228, 228, 228);
      border-radius: 5px;
    }
    input:focus {
      outline: none;
      //   border: none;
      border: 1px solid rgb(197, 197, 197);
      box-shadow: 0.235rem 0.135rem 0.35rem rgba(0, 0, 0, 0.164);
    }
  }
  .content_container {
    max-width: 1400px;
    // position:relative;
    width: 100%;
    flex-direction: column;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    margin-top: 50px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    .row_header {
      display: flex;
      // max-width: 1400px;
      width: 100%;
      padding: 0px 10px;
      color: white;
      // background-color: rgb(187, 131, 131);

      background-color: #ee2b45;
      div:nth-child(1) {
        //   flex-basis: 100%;
        display: flex;
        // flex-grow: 1;
        font-size: 19px;
        padding: 6px 6px;
        width: 20%;

        //   background-color: rgb(0, 13, 128);
        border-right: 2px solid rgba(207, 206, 206, 0.445);
      }
      div:nth-child(2) {
        //   flex-basis: 100%;
        display: flex;
        width: 60%;
        // flex-grow: 4;
        font-size: 19px;
        padding: 6px 6px;
        //   background-color: green;
        border-right: 2px solid rgba(207, 206, 206, 0.445);
      }
      div:nth-child(3) {
        //   flex-basis: 100%;
        display: flex;
        // flex-grow: 1;
        width: 20%;

        font-size: 19px;
        padding: 6px 6px;
        border-right: 2px solid rgba(207, 206, 206, 0.445);

        //   background-color: rgb(100, 128, 0);
      }
      div:nth-child(4) {
        //   flex-basis: 100%;
        display: flex;
        align-items: center;
        // flex-grow: 1;
        width: 10%;

        font-size: 17px;
        padding: 6px 6px;

        //   background-color: rgb(100, 128, 0);
      }
    }

    .workout {
      display: flex;
      width: 100%;
      padding: 0px 10px;
      color: black;
      // background-color: rgb(117, 117, 69);
      div:nth-child(1) {
        //   flex-basis: 100%;
        display: flex;
        // flex-grow: 1;
        font-size: 17px;
        padding: 6px 6px;
        width: 20%;

        //   background-color: rgb(0, 13, 128);
        border-right: 2px solid rgba(207, 206, 206, 0.445);
      }
      div:nth-child(2) {
        //   flex-basis: 100%;
        display: flex;
        width: 60%;
        // flex-grow: 4;
        font-size: 17px;
        // justify-content: space-between;

        flex-wrap: wrap;
        padding: 6px 6px;
        //   background-color: green;
        border-right: 2px solid rgba(207, 206, 206, 0.445);
        .exercise {
          display: flex;
          align-items: center;
          padding: 3px 6px;
          border-radius: 5px;
          border: 1px solid grey;
          margin-right: 5px;
          margin-bottom: 5px;
          font-size: 13px;
          width: auto;
          color: white;
          border: 1px solid #ee2b45;
          background-color: #ee2b45;

          box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.164);

          span:nth-child(2) {
            position: relative;
            top: 1.5px;
            left: 3px;
            padding: 0px 1px;
            cursor: pointer;
          }
        }
      }
      div:nth-child(3) {
        //   flex-basis: 100%;
        display: flex;
        // flex-grow: 1;
        width: 20%;

        font-size: 17px;
        padding: 6px 6px;
        border-right: 2px solid rgba(207, 206, 206, 0.445);

        //   background-color: rgb(100, 128, 0);
      }
      div:nth-child(4) {
        //   flex-basis: 100%;
        display: flex;
        // flex-grow: 1;
        width: 10%;

        font-size: 17px;
        padding: 6px 6px;

        //   background-color: rgb(100, 128, 0);
      }
    }
  }
}

@media (max-width: 750px) {
  .programs_tab_main {
    .programs_tab_header {
    }
    .programs_tab_buttons {
      padding: 10px;
      button:nth-child(2) {
        width: 40%;
        font-size: 12px;
        padding: 0px;
        height: 40px;
      }
      button:nth-child(1) {
        width: 40%;
        font-size: 12px;
        padding: 0px;
        height: 40px;
      }
    }
    .content_container {
      .row_header {
        div:nth-child(1) {
          align-items: center;
          font-size: 15px;
        }
        div:nth-child(2) {
          align-items: center;
          font-size: 15px;
        }
        div:nth-child(3) {
          align-items: center;
          font-size: 15px;
        }
        div:nth-child(4) {
          align-items: center;
          font-size: 15px;
        }
      }
      .workout {
        div:nth-child(1) {
          align-items: center;
          font-size: 15px;
        }
        div:nth-child(2) {
          align-items: center;
          font-size: 15px;
          .exercise {
            font-size: 10.5px;
          }
        }
        div:nth-child(3) {
          align-items: center;
          font-size: 15px;
        }
        div:nth-child(4) {
          align-items: center;
          font-size: 15px;
        }
      }
    }
  }
}
