@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  max-width: 100%;
  // flex: 1;
  height: 100vh;
  z-index: 10;
  // border-right: 1px solid rgba(167, 166, 166, 0.295);
  font-weight: bold;
  // background-color: #0a0a0a;
  background-color: white;
  font-family: "Roboto", sans-serif;
  box-shadow: 3px 3px 13px -5px rgba(0, 0, 0, 0.349);
  .sidebar_header {
    display: flex;
    justify-content: center;
    // align-items: center;
    // background-color: grey;

    flex: 0;
    padding: 32.5px 2px;
    // background-color: #0a0a0a;

    a {
      display: flex;
      //   background: green;
      padding: 0px 1px;
      //   flex: 0.5;
      //   height: 100%;
      align-items: center;
      justify-content: center;
      //   padding-left: 80px;
      font-size: 23px;
      height: 30px;
      // background-color: red;
      //   position: relative;
      //   bottom: 10px;
      cursor: pointer;
      color: black;
      position: relative;
      left: 5px;
    }
    button {
      width: 90px;
      height: 35px;
      //   margin-top: 15px;
      cursor: pointer;
      background-color: #e0021b;
      border: 1px solid #e0021b;
      color: black;
      border-radius: 5px;

      box-shadow: 1px 2px 5px 0px #00000036;
      font-family: "Roboto", sans-serif;
      outline: none;
    }
    button:hover {
      background-color: #c2041b;
      border: 1px solid #c2041b;
    }
  }
  .sidebar_tabs_container {
    display: flex;
    flex-direction: column;
    // background-color: rgb(110, 67, 67);
    flex: 2;

    .sidebar_tab_active {
      display: flex;
      justify-content: center;
      margin-bottom: 15px;
      // background-color: #e0021ca1;
      background-color: #ee2b45;
      // color: #ff0b28;
      //   background-color: khaki;
      padding: 15px;
      font-size: 16px;
      cursor: pointer;
      .sidebar_tab_content {
        // background-color: magenta;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        div:nth-child(1) {
          //   background-color: red;
          flex: 0.6;
          display: flex;
          justify-content: flex-end;
          font-size: 20px;
          padding-right: 15px;
          // color: #e0021b;
          color: white;
          // color: #ff0b28;
        }
        div:nth-child(2) {
          //   background-color: green;
          flex: 1;
          display: flex;
          //   font-size: 20px;
          // color: #bd0319;
          // color: #ff0b28;
          color: white;
        }
        span {
        }
      }
    }

    .sidebar_tab_unactive {
      display: flex;
      justify-content: center;
      margin-bottom: 15px;
      // background-color: #d83e1325;
      // color: #f75f35;
      //   background-color: khaki;
      padding: 15px;
      font-size: 16px;
      cursor: pointer;
      font-weight: bold;
      .sidebar_tab_content {
        // background-color: magenta;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        div:nth-child(1) {
          //   background-color: red;
          flex: 0.6;
          display: flex;
          justify-content: flex-end;
          font-size: 20px;
          padding-right: 15px;
          color: #686868;
        }
        div:nth-child(2) {
          //   background-color: green;
          flex: 1;
          display: flex;
          //   font-size: 20px;
          color: #686868;
        }
        span {
        }
      }
    }
    .sidebar_tab_unactive:hover {
      background-color: #f509241f;
      .sidebar_tab_content {
        div:nth-child(1) {
          color: white;
        }
        div:nth-child(2) {
          // color: #bd0319;
          color: white;
        }
      }
    }
  }
  .sidebar_logout_container {
    display: flex;
    justify-content: center;
    // background-color: yellow;
    padding: 20px 0px;
    border-top: 1px solid rgba(167, 166, 166, 0.295);
    // background-color: #0a0a0a;

    button {
      width: 90px;
      height: 35px;
      //   margin-top: 15px;
      cursor: pointer;
      background-color: #e0021b;
      border: 1px solid #e0021b;
      color: white;
      border-radius: 5px;

      box-shadow: 1px 2px 5px 0px #00000036;
      font-family: "Roboto", sans-serif;
      outline: none;
    }
    button:hover {
      background-color: #e0021b;
      border: 1px solid #e0021b;
    }
  }
}
