@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

.topbar {
  display: flex;
  // background-color: maroon;
  // box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  flex: 1;
  //   padding: 15px 20px;
  justify-content: flex-end;
  border-bottom: 1px solid rgba(167, 166, 166, 0.295);
  // background-color: rgba(236, 236, 236, 0.685);
  // background-color: #0a0a0a;
  position: sticky;
  z-index: 10;
  width: 100%;
  // background-color: #ff592c;

  .topbar_empty_container {
    display: flex;
    // background-color: maroon;
    flex: 2.2;
    padding: 10px 20px;
    .menu_icon {
      font-size: 33px;
      // background-color: red;
      // padding: 5px;
      height: 40px;
      width: 43px;
      // margin-left: 10px;
      padding: 0px 5px;
      border-radius: 50%;
    }
    .menu_icon:hover {
      background-color: rgba(236, 236, 236, 0.39);
      cursor: pointer;
    }
  }
  .topbar_notification_container {
    display: flex;
    // background-color: rgb(57, 110, 190);
    flex: 0.1;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    // color: grey;
    color: #3b3b3b;
    padding: 10px 20px;
    border-right: 1px solid rgba(167, 166, 166, 0.295);
    border-left: 1px solid rgba(167, 166, 166, 0.295);
  }
  .topbar_profile_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    // background-color: rgb(165, 86, 202);
    flex: 0.7;
    padding: 13px 20px;
    font-family: "Roboto", sans-serif;
    color: #3b3b3b;

    img {
      // height:60%;
      max-height: 38px;
      width: 32px;
      border-radius: 50%;
      // height:100%;
      //  width:100px;
      cursor: pointer;
    }
    span {
      font-size: 16.5px;
      margin-left: 3px;
      margin-right: 10px;
      cursor: pointer;
    }
    .arrow {
      //  margin-left:3px;
      font-size: 18.5px;
      cursor: pointer;
    }
  }
}
